# PostgreSQL / PostGIS Settings
POSTGRES_DB=address_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Storage Directory for database files
# Default is ./.pgdata (in repository root).
# Change this to an external path if you want to store heavy geocoding data on an external disk.
POSTGRES_DATA_DIR=./.pgdata
