# PostgreSQL / PostGIS Settings
POSTGRES_DB=address_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_PORT=5432


# Storage Directory for database files
# Default is ./.pgdata (in repository root).
# Change this to an external path if you want to store heavy geocoding data on an external disk.
POSTGRES_DATA_DIR=./.pgdata

# Download directory for IBGE CNEFE raw datasets
CNEFE_DOWNLOAD_DIR=./downloads_cnefe

