*.o
*.so
*.dylib
*.dll
*.a
*.exe
data/*.sql
test/regression.diffs
test/regression.out
test/results/*.out
test/results/*.diff
*.tar.gz
*.deps
.DS_Store
.env
.env.*
!.env.example
examples/brazilian_cnefe_geocoder/.pgdata/
examples/brazilian_cnefe_geocoder/downloads_cnefe/
*.zip
__pycache__/
